@import url('https://fonts.cdnfonts.com/css/bahnschrift');

.cajon {
  display: flex;
  flex-direction: column;
  font-family: 'Bahnschrift', sans-serif;
}

.producto {
  margin-bottom: 34px;
  transition: background-color 0.2s ease; /* Agregamos la transición de color */
}

.producto.selected {
  padding-bottom: 4px;
  padding-right: 2px;
  color: #E63331;
  /* Cambiamos el color de fondo cuando el producto está seleccionado */
}

.producto.selected .n h3 {
  color: #E63331;
  /* Cambiamos el color de fondo cuando el producto está seleccionado */
}

.product-details {
  display: flex;
  margin: 8px;
}

.n {
  width: 66%;
  justify-content: start;
}

.n h3 {
  margin: 1px;
  font-size: 1.3rem;
  text-align: left;
   justify-content: start;
  color: black;
}

.p {
  width: 34%;
  margin-left: 10px;
  display: flex;
  margin-top: 1px;
}

.price {
  display: flex;
  margin: 8px;
}

.p p {
  margin: 8px;
  justify-content: space-around;
}



/* Estilos para dispositivos móviles */
@media (max-width: 1140px) {
  @import url('https://fonts.cdnfonts.com/css/bahnschrift');

  .cajon {
    display: flex;
    flex-direction: column;
    font-family: 'Bahnschrift', sans-serif;
    align-items: center; /* Centrar el contenido */
    margin: 2px; /* Agregar un margen uniforme */
  }

  .producto {
    margin-bottom: 4px;
    transition: background-color 0.2s ease;
    text-align: center; /* Centrar el texto */
  }

  .producto.selected {
    padding-bottom: 2px;
    padding-right: 1px;
    color: #7b170f;
  }
  
  .producto.selected .n h3 {
    color: #E63331;
  }

  /* Detalles del producto */
  .product-details {
    display: flex;
    flex-direction: column;
    margin: 8px;
  }

  .n {
    width: 100%; 
    text-align: center; 
  }
  .p {
    width: 20%; 
    text-align: left; 
  }

  .n h3, .p p {
    margin: 8px;
    font-size: 1.2rem; 
    color: black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .price {
    display: flex;
    margin: 8px;
    justify-content: left;
}
};
